a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}
/* 商品一覧 */

.camp-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.camp-tweet{
  text-align: center;
  margin-bottom: 15vh;
}

.camp-img-content {
  position: relative;
  text-align: center;
}

.camp-img {
  width: 40vw;
  height: 70vh;
}

.camp-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
  text-align: center;
}

.camp-name {
  font-size: 2.5vh;
  margin: 10px 0;
  color: black;
}

.user-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.star-btn {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.star-icon {
  height: 4vh;
  width: 4vh;
  margin-right: 2vw ;
}

.star-count {
  font-size: 4vh;
}

.user-name{
  font-size: 4vh;
}

.user-name a{
  text-decoration: none;
}